
@using CarsCore.Models
@{
    ViewBag.Title = "Edit";
    var car = (Car)ViewBag.car;
}


<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body, h1, h2, h3, h4, h5, h6 {
            font-family: "Raleway", Arial, Helvetica, sans-serif
        }
    </style>
</head>
<body class="w3-content w3-border-left w3-border-right">

    <!-- Sidebar/menu -->
    <div class=" w3-light-grey w3-collapse" style="z-index:3;" id="mySidebar">
        <div class="w3-container w3-display-container w3-padding-16">
            <i onclick="w3_close()" class="fa fa-remove w3-hide-large w3-button w3-transparent w3-display-topright"></i>
            <hr>
            <form action="/Cars/Edit/@car.Num" method="post">
                <p><label><i></i>Car Num:</label></p>
                <input class="w3-input w3-border" type="text" name="Num" disabled value=@car.Num>



                <p><label><i></i>Car Color</label></p>
                <input class="w3-input w3-border" type="text" value=@car.Color name="Color">

                <p><label><i></i>Car Model</label></p>
                <input class="w3-input w3-border" type="text" value=@car.Model name="Model">

                <p><label><i></i>Car Manfacture</label></p>
                <input class="w3-input w3-border" type="text" name="Manfacture" value=@car.Manfacture>

                <p><button class="w3-button w3-block w3-green w3-left-align" type="submit"><i class="w3-margin-right"></i>Submit</button></p>
            </form>
        </div>
    </div>



    <footer class="w3-container w3-padding-16" style="margin-top:32px">Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-text-green">w3.css</a></footer>

    <!-- End page content -->






</body>
</html>







