@{ Layout = null; }
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Grettings</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        * {
            box-sizing: border-box;
        }

        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        /* Style the header */
        header {
            background-color: antiquewhite;
            padding: 30px;
            text-align: center;
            font-size: 35px;
            color: black;
        }

        section {
            height: 500px;
        }

        /* Create two columns/boxes that floats next to each other */
        nav {
            float: left;
            width: 60%;
            height: 100%;
            background-color: lightblue;
            padding: 20px;
            border: 1px solid black;
        }


        article {
            float: left;
            border: 1px solid black;
            width: 40%;
            height: 100%;
            align-content: center;
        }

        #image {
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 20%;
            width: 200px;
        }
        /* Clear floats after the columns */
        section::after {
            content: "";
            display: table;
            clear: both;
        }

        /* Style the footer */
        footer {
            background-color: antiquewhite;
            padding: 10px;
            text-align: center;
            color: black;
        }
    </style>
</head>
<body>


    <header>
        <h2>Greeting Card Maker</h2>
    </header>

    <section>
        <nav>
            <form method="post">
                <p>Select background Image</p>
                <select name="background">
                    <option value="0.jpg"> 1 </option>
                    <option value="1.jpg"> 2 </option>
                    <option value="2.jpg"> 3 </option>
                    <option value="3.jpg"> 4 </option>
                    <option value="4.jpg"> 5 </option>
                    <option value="5.jpg"> 6 </option>
                    <option value="6.jpg"> 7 </option>
                    <option value="7.jpg"> 8 </option>
                    <option value="8.jpg"> 9 </option>
                    <option value="9.jpg"> 10 </option>
                    <option value="10.jpg"> 11 </option>
                    <option value="11.jpg"> 12 </option>
                </select>
                <br><br>
                <p>select color</p>
                <select name="font">
                    <option value="black"> Black </option>
                    <option value="red"> Red </option>
                    <option value="blue"> Blue </option>
                    <option value="blueviolet"> Violet </option>
                    <option value="brown"> Brown </option>
                    <option value="wheat"> Wheat </option>
                    <option value="white"> White </option>
                    <option value="crimson"> Crimson </option>
                    <option value="lightcoral"> LightCoral </option>
                </select>
                <hr>
                <p>greeting Type</p>
                <input type="radio" name="image" value="bd.jpg">
                <label for="bd">Birthday</label><br>
                <input type="radio" name="image" value="well.gif">
                <label for="well">Get Well Soon</label><br>
                <input type="radio" name="image" value="val.bmp">
                <label for="val">Valentine</label><br>
                <input type="radio" name="image" value="congrats.gif">
                <label for="val">Congrats</label><br>

                <input type="checkbox" name="add" value="1">
                <label for="add"> Add the Picture </label><br>

                <p>Gretting message:</p>
                <textarea name="mess" cols="10" rows="3"></textarea><br>

                <input type="submit" value="Preview" />
            </form>
        </nav>
        @{ string backgroundPath = "";
            string imagePath = "";
            string color = "";
            string message = "";
        }
        @if (IsPost)
        {
            backgroundPath = "backgrounds/" + Request["background"];
            color = Request["font"];
            message = Request["mess"];

            if (Request["add"] == "1")
            {
                imagePath = "images/" + Request["image"];


            }

        }
        <article style=" background-image: url(@backgroundPath)">

            @if (Request["add"] == "1")
            {
                <img id="image" src=@imagePath alt="Alternate Text" />
            }
            <p style="font-size:30px;color:@color; margin-right:auto; margin-left:auto">@message</p>


        </article>
    </section>

    <footer>
        <p></p>
    </footer>

</body>
</html>

