@section head
{
    <h1><b>ASP.NET Razor Task</b></h1>
}

@section Title
{
    <h3><b>Razor first day</b></h3>
}


@section par1
{
    <p>
        this is rando writing at 9.12 pm doing the task:) look how
        Iam happy
    </p>
}

@section name
{
    <h4><b>shimaa hamdy</b></h4>
}
@section about
{
    <p>
        this is my template that applied to razor _layout
        have to say that was good task , not like Entity framework
        tasks, why EF so hard to understand like that
    </p>
}


@section list
    {
    <div class="w3-card w3-margin">
        <div class="w3-container w3-padding">
            <h4>Popular Posts</h4>
        </div>
        <ul class="w3-ul w3-hoverable w3-white">
            <li class="w3-padding-16">
                <span class="w3-large">Entity Frame word</span><br>
                <span>why ? Why peoble why?!</span>
            </li>
            <li class="w3-padding-16">
                <span class="w3-large">Design Pattern</span><br>
                <span>it was very intersting course to be fair</span>
            </li>
            <li class="w3-padding-16">
                <span class="w3-large">MVC</span><br>
                <span>better than EF i hope</span>
            </li>
            <li class="w3-padding-16 w3-hide-medium w3-hide-small">
                <span class="w3-large">SD track want holiday like normal peoble</span><br>
                <span>holiday coming from mangers i hope</span>
            </li>
        </ul>
    </div>
}
