<div style="background-color:brown; height:100px; width:100%">

    ************* This is Header Page***************

</div>

@RenderBody()

<div style="background-color:aqua; height:200px; width:100%">

    This is Footer Page
    <br />
    Copyrights @@ mandoline....

</div>




