body
{
    font-family:'Times New Roman', Times, serif;
    font-size: large;
    background-color: whitesmoke;
}

.aside0
{
    clip-path: polygon(50% 0%, 79% 0, 100% 0, 100% 70%, 50% 100%, 0% 70%, 0 0, 20% 0);


}
.content-intro
{
    font-size: 130%;
}
.jead-con
{
    color:saddlebrown;
}

.triangle {
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    width:5%;
    background-color: gray;
}
/* detect borders */
/*
.coll
{
    border: 1px solid red;
}*/
