
@{
    ViewBag.Title = "Home";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body, h1, h2, h3, h4, h5, h6 {
            font-family: "Raleway", Arial, Helvetica, sans-serif
        }

        .mySlides {
            display: none
        }
    </style>
</head>
<body class="w3-content w3-border-left w3-border-right">

    <!-- Sidebar/menu -->
    <nav class="w3-sidebar w3-light-grey w3-collapse w3-top" style="z-index:3;width:260px" id="mySidebar">
        <div class="w3-container w3-display-container w3-padding-16">
            <i onclick="w3_close()" class="fa fa-remove w3-hide-large w3-button w3-transparent w3-display-topright"></i>
            <h3>MVC Application</h3>
            <hr>
            <form action="/Home/ShowDetails" method="post">
                <p><label><i></i>ID</label></p>
                <input class="w3-input w3-border" type="number" value="1" name="ID" min="1" max="5468">

                <p><label><i></i>Name</label></p>
                <input class="w3-input w3-border" type="text" value="1" name="Name">

                <p><label><i></i>Image</label></p>
                <select name="image" onchange=currentDiv(this.selectedIndex+1)>
                    <option value="1.jpg"> 1 </option>
                    <option value="2.jpg"> 2 </option>
                    <option value="3.jpg"> 3 </option>
                    <option value="4.jpg"> 4 </option>
                    <option value="5.jpg"> 5 </option>
                    <option value="6.jpg"> 6 </option>
                    <option value="7.jpg"> 7 </option>

                </select>

                <p><button class="w3-button w3-block w3-green w3-left-align" type="submit"><i class="w3-margin-right"></i>Submit</button></p>
            </form>
        </div>
    </nav>

    <!-- Top menu on small screens -->
    <header class="w3-bar w3-top w3-hide-large w3-black w3-xlarge">
        <span class="w3-bar-item">Rental</span>
        <a href="javascript:void(0)" class="w3-right w3-bar-item w3-button" onclick="w3_open()"><i class="fa fa-bars"></i></a>
    </header>

    <!-- Overlay effect when opening sidebar on small screens -->
    <div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

    <!-- !PAGE CONTENT! -->
    <div class="w3-main w3-white" style="margin-left:260px">

        <!-- Push down content on small screens -->
        <div class="w3-hide-large" style="margin-top:80px"></div>

        <!-- Slideshow Header -->
        <div class="w3-container" id="apartment">
            <h2 class="w3-text-green">Image</h2>

            <div class="w3-display-container mySlides">
                <img src="~/Images/1.jpg" style="width:100%;margin-bottom:-6px">
                <div class="w3-display-bottomleft w3-container w3-black">
                    <p>image 1</p>
                </div>
            </div>

            <div class="w3-display-container mySlides">
                <img src="~/Images/2.jpg" style="width:100%;margin-bottom:-6px">
                <div class="w3-display-bottomleft w3-container w3-black">
                    <p>image 2</p>
                </div>
            </div>
            <div class="w3-display-container mySlides">
                <img src="~/Images/3.jpg" style="width:100%;margin-bottom:-6px">
                <div class="w3-display-bottomleft w3-container w3-black">
                    <p>3</p>
                </div>
            </div>

            <div class="w3-display-container mySlides">
                <img src="~/Images/4.jpg" style="width:100%;margin-bottom:-6px">
                <div class="w3-display-bottomleft w3-container w3-black">
                    <p>image 4</p>
                </div>
            </div>

            <div class="w3-display-container mySlides">
                <img src="~/Images/5.jpg" style="width:100%;margin-bottom:-6px">
                <div class="w3-display-bottomleft w3-container w3-black">
                    <p>image 5</p>
                </div>
            </div>

            <div class="w3-display-container mySlides">
                <img src="~/Images/6.jpg" style="width:100%;margin-bottom:-6px">
                <div class="w3-display-bottomleft w3-container w3-black">
                    <p>image 6</p>
                </div>
            </div>

            <div class="w3-display-container mySlides">
                <img src="~/Images/7.jpg" style="width:100%;margin-bottom:-6px">
                <div class="w3-display-bottomleft w3-container w3-black">
                    <p>image 7</p>
                </div>
            </div>

        </div>



        <footer class="w3-container w3-padding-16" style="margin-top:32px">Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-text-green">w3.css</a></footer>

        <!-- End page content -->
    </div>



    <script>
// Script to open and close sidebar when on tablets and phones
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("myOverlay").style.display = "block";
}

function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("myOverlay").style.display = "none";
}

// Slideshow Apartment Images
var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function currentDiv(n) {
  showDivs(slideIndex = n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("demo");
  if (n > x.length) {slideIndex = 1}
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" w3-opacity-off", "");
  }
  x[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " w3-opacity-off";
}
    </script>

</body>
</html>


