@inject Microsoft.Extensions.Configuration.IConfiguration conigur

<h3>  product index........  </h3>

<h2>  @ViewBag.config["ProjectDetails:Name"]  </h2>

<h2>  @conigur["ProjectDetails:Desc"]  </h2>