@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <input type="text" id="txt" />
    <input type="button" value ="send" onclick="send()" />
    <ul id="ul">

    </ul>
    </div>

@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.js"></script>
<script>
    name =prompt("enter your name");

 con = new signalR.HubConnectionBuilder().withUrl("/chat").build();//define conn, createprox

con.start();

con.on("newmess",function(n ,m){
    var item =document.createElement("li");
    item.appendChild(document.createTextNode(n+":"+m));
    document.getElementById("ul").appendChild(item);

})

function send (){

    con.invoke("sendmessage",name,document.getElementById("txt").value);
}
</script>
}
