@using lab.Models
@{
    ViewBag.Title = "Cars";
    var cars = (List<Car>)ViewBag.cars;
}

<h2>Cars</h2>
<link href="~/Content/bootstrap.css" type="text/css" rel="stylesheet">

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Color</th>
            <th scope="col">Model</th>
            <th scope="col">Manfacture</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in cars)
        {
            <tr>
                <th scope="row">@item.Num</th>
                <td>@item.Color</td>
                <td>@item.Model</td>
                <td>@item.Manfacture</td>
                <td> <a href="/Car/Details/@item.Num"> Select </a></td>
                <td> <a href="/Car/Edit/@item.Num"> Edit </a></td>
                <td> <a href="/Car/Delete/@item.Num"> Delete </a></td>

            </tr>
        }
    </tbody>

</table>
<button type="button" class="btn btn-success"><a href="/Car/Create">New Car</a></button>




